body {
    background-color: #788bff;
}

.mainTitle {
    background-color: #788bff;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#trophy {
    font-size: 100px;
    color: #E2FDFF;
}

#test {
    border-radius: 7px;
    padding: 10px;
    width: 175px;
    background-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#test:hover {
    cursor: pointer;
    background-color: azure;
}

#select {
    background-color: #BFD7FF;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

#select button {
    width: 280px;
    height: 280px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ADC4FF;
    border: none;
}

#select button:hover {
    cursor: pointer;
    background-color: #c2d0f8;
}

#select i {
    font-size: 50px;
}

#bottomButs {
    margin-top: 20px;
}

#typing {
    margin-left: 20px;
}

#react {
    margin-right: 20px;
}

#verbal {
    margin-right: 20px;
}

#number {
    margin-left: 20px;
}