* {
  font-weight: bold;
  color: white;
}
body {
  margin: 0;
  padding: 0;
}
#start,
#stop {
  border: 0;
  height: 100vh;
  width: 100%;
  cursor: pointer;
  background-color: #9bb1ff;
}
#try-again {
  cursor: default;
}
.hidden {
  display: none;
}
.spacer {
  display: block;
  opacity: 0;
}
#result-container {
  position: fixed;
  width: 10000px;
  padding-bottom: 25px;
  font-size: 20px;
}
#result-container p {
  padding-left: 40px;
}
.clickable {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.clickable:hover {
  color: #73e78c;
  transition-duration: 200ms;
}
li {
  font-size: 16px;
}

#final {
  margin: auto;
  text-align: center;
}

#finalHome {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  font-size: 25px;
  position: absolute;
  transform: translate(-50%, -10%);
  left: 50%;
  top: 20%;
  background-color: #d1eaff;
  color: #5465ff;
}

#finalHome:hover {
  cursor: pointer;
  background-color: #e2fdff;
}

#average {
  position: absolute;
  transform: translate(-50%, -30%);
  font-size: 30px;
  left: 50%;
  top: 40%;
}

#infoTing {
  position: absolute;
  transform: translate(-50%, -30%);
  font-size: 30px;
  left: 50%;
  top: 60%;
}
